*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}


body{
    background-color: #F6E2E2;
}


#contacto-estatico{
    position: fixed;
    z-index: 1;
    cursor: pointer;
    bottom: 0px;
    right: 20px;
    width: 212px;
    height: 50px;
    background-color: black;  
    border-radius: 50px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 50px;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 600;
    color: white;
}


header{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 120px;
    background-color: #403C3E;
}

header img{
    transition: 0.3s;
}


header img:hover{
    transform: scale(1.1);
}


#logo{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 200px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    font-weight: 700;
    color: white;
}


.iconosredes{
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
}


#icono1{
    top: 40px;
    right: 120px;
}

#logofb{
    width: 42px;
    height: 42px;
    border-radius: 100%;
}


#icono2{
    top: 40px;
    right: 71px;
}


#logoi{
    width: 42px;
    height: 42px;  
    border-radius: 100%;
}


 #icono3{
    top: 40px;
    right: 19px;
}


#logoyt{
    width: 42px;
    height: 42px;  
    border-radius: 100%;  
}


nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 48px;
}


.botonesnav{
    float: left;
    width: 196px;
    height: 48px;
    margin: 0px 2px;
    background-color: #E55454;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    line-height: 48px;
    font-size: 25px;
    border-radius: 15%;
    color: white;
}


a .botonesnav:hover{
    background-color: #FF0707;
}


a .botonesnav:active{
    background-color: #8D6AEF;
}


#contenidos{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 192px;
}


#contenidos img{
    transition: 0.3s;
}


#contenidos img:hover{
    transform: scale(1.1);
}




#contenidos ul{
    width: 1010px;
    height: 192px;
}


#contenidos ul li{
    float: left;
    width: 326px;
    height: 192px;
    margin-right: 10px;
    text-align: center;
}


#contenidos ul li h1{
    font-family: 'Kaushan Script', cursive;  
}


.imagenespaisajes{
    width: 210px;
    border-radius: 10%;
}


 section{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 453px;
}


#aside-izquierdo{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 453px;
}


#aside-izquierdo a{
    text-decoration: none;
    color: white;
}

#aside-izquierdo a:hover{
    color: #8BDC61;
}


#aside-izquierdo ul{
    margin-top: 98px;
}


#aside-izquierdo ul li{
    background-color:  #403C3E;
    padding: 20px;
    margin: 3px;
    color: white;
    list-style: square;
    list-style-position: inside;
    list-style-image:url(../img/lista.png);
}


#aside-derecho{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 453px; 
}


#aside-derecho h1{
    background-color: #403C3E;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    margin-bottom: 10px;
}


#aside-derecho form{
    margin-top: 101px;
}


#aside-derecho form input{
    padding: 10px;
    width: 176px;
    height: 13px;
    margin: 2px 0px;
}


#aside-derecho form input[type="text"]{
    background-image: url(../img/usuario.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


#aside-derecho form input[type="password"]{
    background-image: url(../img/password.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; 
}


#aside-derecho form input[type="submit"]{
    text-align: center;
    height: 48px;
    width: 201px;
    padding: 0px;
}


#article{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 600px;
    height: 453px;
}


#article h1{
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#article p img{
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}


#article p{
    margin: 20px;
    text-align: justify;

}


footer{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 70px;
    background-color: #E55454; 
    text-align: center;
    line-height: 70px;
  }